
<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu">
            <li ng-class="{'active': target_id == 0}">
                <a ng-href="#/">
                  <i class="icon_house_alt"></i>
                  <span>ALL</span>
                </a>
            </li>

            <li ng-repeat="todoList in todoLists" ng-class="{'active': todoList.id == target_id}">
                <a ng-href="#/todolist/{{ todoList.id }}">
                    <i class="icon_genius"></i>
                    <span>{{ todoList.name }}</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
