
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!-- Header Title -->
                <h3 class="page-header"><i class="fa fa-asterisk"></i> ALL</h3>

                <!-- Todo List -->
                <div ng-repeat="todoList in todoLists()" ng-if="isExistByNotDone(todoList.items)">
                    <div class="todoList-title-small">{{ todoList.name }}</div>
                    <div ng-repeat="item in todoList.items">
                        <div class="todoItem-body" ng-if="!item.done">
                           <span class="todoItem-checkbox" ng-click="itemDone(item)">
                               <i class="fa fa-square-o"></i>
                           </span>

                           <span class="todoItem-title">
                               {{ item.name }}
                           </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
