<div ng-include="'app/views/sidebar.html'"></div>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">

                <div ng-repeat="todoList in todoLists">
                    <span ng-if="todoList.id == target_id">
                        <!-- Header Title -->
                        <h3 class="page-header"><i class="fa fa-list-alt"></i>{{ todoList.name }}</h3>
                        <p ng-if="todoList.dscription">{{ todoList.description }}</p>

                        <!-- Todo List -->
                        <div ng-repeat="todoItem in todoItems">
                            <div class="todoItem-body" ng-if="todoItem.todolist_id == todoList.id">
                                <span class="todoItem-checkbox" ng-click="itemDone(todoItem)">
                                    <i class="fa fa-square-o"></i>
                                </span>

                                <span class="todoItem-title">
                                    {{ todoItem.text }}
                                    <span ng-show="todoItem.done">done!</span>
                                </span>
                            </div>
                        </div>
                    </span>
                </div>

            </div>
        </div>
    </section>
</section>
