
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-scroll-area">

                    <div ng-repeat="todoList in todoLists()" ng-if="todoList.id == selectTodoListId">
                        <!-- Header Title -->
                        <div class="page-header">
                            <i class="fa fa-list-alt large"></i>
                            <span class="header-title">{{ todoList.name }}</span>
                            <a data-toggle="modal" data-target="#todoListEditModal"><i class="fa fa-pencil middle"></i></a>
                            <a data-toggle="modal" data-target="#todoListDeleteModal"><i class="fa fa-trash-o middle"></i></a>
                        </div>

                        <div class="header-desc" ng-show="todoList.description">{{ todoList.description }}</div>

                        <form class="todoItem-body todoItem-add-body" ng-submit="itemCreate($event)">
                            <span class="todoItem-add-i">
                                <i class="fa fa-plus"></i>
                            </span>
                            <input class="todoItem-form" placeholder="Add a To-do.." type="text" ng-model="newTodoItem.name" required>
                        </form>

                        <!-- Todo List -->
                        <div ng-if="isExistByNotDone(todoList.items)">
                            <div ng-repeat="todoItem in todoList.items">
                                <div class="todoItem-body" ng-if="!todoItem.done">
                                    <span class="todoItem-checkbox" ng-click="itemDone(todoItem)">
                                        <i class="fa fa-square-o"></i>
                                    </span>

                                    <span class="todoItem-title">
                                        {{ todoItem.name }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!isExistByNotDone(todoList.items)">
                            <h4>No Data</h4>
                        </div>
                    </div>

                    <!-- SHOW COMPLETED -->
                    <div ng-repeat="todoList in todoLists()" ng-if="todoList.id == selectTodoListId">
                        <!-- Todo List -->
                        <div ng-if="isExistByDone(todoList.items)">
                            <div class="todoList-title-small" ng-click="isReplyFormOpen = !isReplyFormOpen">
                                SHOW COMPLETED TODO
                            </div>

                            <!-- Todo List -->
                            <div ng-show="isReplyFormOpen" id="replyForm">
                                <div ng-repeat="todoItem in todoList.items">
                                    <div class="todoItem-body" ng-if="todoItem.done">
                                        <span class="todoItem-checkbox" ng-click="itemDone(todoItem)">
                                            <i class="fa fa-check-square-o done"></i>
                                        </span>

                                        <span class="todoItem-title todoItem-done">
                                            {{ todoItem.name }}<br />
                                            {{ todoItem.updated_at }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>
