<div ng-include="'app/views/sidebar.html'"></div>

<section id="main-content">
    <section class="wrapper">
      <div class="row">
          <div class="col-lg-12">

              <h3 class="page-header"><i class="fa fa-laptop"></i> ALL</h3>
              
             <!-- <ol class="breadcrumb">
                   <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                   <li><i class="fa fa-laptop"></i>Dashboard</li>
                   </ol> -->

              <div ng-repeat="todoList in todoLists">
                  <h3>{{ todoList.name }}</h3>
                  <pre>{{ todoList.description }}</pre>
                  <ul>
                      <li ng-repeat="todoItem in todoItems">
                          <span ng-if="todoItem.todolist_id == todoList.id">
                              {{ todoItem.text }}
                              <button type="button" ng-click="itemDone(todoItem)">
                                  check
                              </button>
                              <span ng-show="todoItem.done">done!</span>
                          </span>
                      </li>
                  </ul>
              </div>

          </div>
      </div>
    </section>
</section>
