{% extends "base.html" %}
{% load static swampdragon_tags %}

{% block body_contents %}
    <body ng-app="todoApp" ng-controller="PageController">

        <section id="container" class="">
            <div ng-include="'app/views/header.html'"></div>
            <div ng-include="'app/views/sidebar.html'"></div>
            <div ng-include="'app/views/modal.html'"></div>
            <div ng-view></div>
        </section>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <!-- <script>
             !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
             (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
             r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
             }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

             ga('create', 'UA-XXXXX-X');
             ga('send', 'pageview');
             </script> -->

        <!-- jQery -->
        <script src={% static "scripts/vendor/jquery.js" %}></script>

        <!-- bootstrap -->
        <script src={% static "scripts/vendor/bootstrap.min.js" %}></script>

        <!-- nice scroll -->
        <script src={% static "scripts/vendor/jquery.nicescroll.js" %}></script>

        <!--custome script for all page-->
        <script src={% static "scripts/vendor/scripts.js" %}></script>

        <!-- angular -->
        <script src={% static "scripts/vendor/angular.min.js" %}></script>
        <script src={% static "scripts/vendor/angular-animate.min.js" %}></script>
        <script src={% static "scripts/vendor/angular-cookies.min.js" %}></script>
        <script src={% static "scripts/vendor/angular-resource.min.js" %}></script>
        <script src={% static "scripts/vendor/angular-route.min.js" %}></script>
        <script src={% static "scripts/vendor/angular-sanitize.min.js" %}></script>
        <script src={% static "scripts/vendor/angular-touch.min.js" %}></script>

        {% swampdragon_settings %}
        <script src={% static "scripts/vendor/swampdragon/js/dist/swampdragon.min.js" %}></script>
        <script src={% static "scripts/vendor/swampdragon/js/dist/datamapper.js" %}></script>
        <script src={% static "scripts/vendor/swampdragon/js/angular/services.js" %}></script>

        <!-- angular app -->
        <script src={% static "scripts/app.js" %}></script>
        <script src={% static "scripts/services/dataHandler.js" %}></script>
        <script src={% static "scripts/services/customSearch.js" %}></script>
        <script src={% static "scripts/controllers/page.js" %}></script>
        <script src={% static "scripts/controllers/header.js" %}></script>
        <script src={% static "scripts/controllers/sidebar.js" %}></script>
        <script src={% static "scripts/controllers/search.js" %}></script>
        <script src={% static "scripts/controllers/context.js" %}></script>
        <script src={% static "scripts/controllers/todolist-create-modal.js" %}></script>
        <script src={% static "scripts/controllers/todolist-edit-modal.js" %}></script>
        <script src={% static "scripts/controllers/todolist-delete-modal.js" %}></script>

    </body>
{% endblock %}
