{% extends "base.html" %}

{% block body_contents %}
    <body class="login-img3-body">
        <div class="container">
            <form class="login-form" method="POST" action="login">
                <div class="login-wrap">
                    <p class="login-img"><i class="fa fa-lock"></i></p>
                    {% if form.errors %}
                        <div class="alert alert-block alert-danger fade in">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="icon-remove"></i>
                            </button>
                            Incorrect username or password.
                        </div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <label class="checkbox">
                        <!-- <input type="checkbox" value="remember-me"> Remember me
                             <span class="pull-right"> <a href="#"> Forgot Password?</a></span> -->
                    </label>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Sing in</button>
                    <!-- <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button> -->
                </div>
                <input type="hidden" name="next" value="/" />
                {% csrf_token %}
            </form>
        </div>
    </body>
{% endblock %}
